<div class="about-us-section">
    <div class="about-header">
      <h2>About Us</h2>
      <p>Discover my story, our passion, and my commitment to craftsmanship.</p>
    </div>
    
    <div class="about-content-wrapper">
      <div class="about-image">
        <img src="/assets/images/pexels-tima.jpg" alt="About Us Image" />
      </div>
      <div class="about-text">
        <h3>My Journey</h3>
        <p>
          Founded with a love for craftsmanship, am a dedicated to creating beautifully crafted furniture and wood products that blend form and function. My journey began with a small workshop and a big dream. Today, I bring that dream to life in every piece we create.
        </p>
        <h3>Our Values</h3>
        <p>
          I believe in quality, sustainability, and timeless design. Every item I produce is a testament to my dedication to these values. I source the finest materials, employ skilled artisans, and ensure that every product meets my high standards before it reaches you.
        </p>
      </div>
    </div>
    
    <div class="team-section">
      <h3>Meet Founder</h3>
      <div class="team-members">
        <div class="team-member">
          <img src="/assets/images/woodCreate.jpg" alt="Team Member 1" />
          <h4>Jane Doe</h4>
          <p>Founder & Designer</p>
        </div>
      </div>
    </div>
  </div>
  